<% content_for :head do %>
  <%= stylesheet '/engine/stylesheets/default' %>
  <%= stylesheet '/engine/stylesheets/form_notices' %>
<% end %>

<div style="text-align:center;">
  <% form_for :user_session, :url => login_path, :html => { :class => 'jform' } do |f| %>

    <p><%= f.label t(:login) %></p>
    <p><%= f.text_field :email, :size => "17" %></p>

    <p><%= f.label t(:password) %></p>
    <p><%= f.password_field :password, :size => "17"%></p>

    <p>
    <%= f.submit t(:login) %> or
    <%= link_to t(:home_page), root_url %>
    </p>
  <% end %>
</div>
