<% form_for @snippet, :html => { :class => 'jform' } do |f| %>
  <%= f.error_messages %>
  <p>
  <%= f.label :name, t(:label_name) %>
  <%= f.text_field :name, :class => :title %>
  </p>
  <p>
  <%= f.text_area :content, :class=>"mceEditor" %>
  </p>
  <p>
  <%= f.submit t(:button_save) %> |
  <%= link_to_cancel snippets_path %>
  </p>
<% end %>
