<%%= title "#{t(:title_edit_node)}[#{t(:node_type_<%=node_name%>)}]" %>
<%%= javascript_tag '$.ajaxSetup({ dataType: "html" });' %>
<%% form_for @<%=node_name%>, :url => { :action => :update }, :html => { :class => 'jjane' } do |f| %>
  <%%= partial 'form', { :f => f } %>
  <p>
  <%%= f.submit t(:button_save) %> |
  <%%= link_to_remote t(:link_to_node),
    :url => { :action => :show },
    :method => :put,
    :with => %[serializeNodeForm('##{dom_id(@<%=node_name%>,:edit)}')],
    :success => %[previewNode(request);]
    %> |
  <%%= link_to_cancel root_url %> |
  <%%= link_to_destroy page_node_path(@<%=node_name%>.page_id,:<%=controller_name%>,@<%=node_name%>), t(:link_destroy) %>
  </p>
<%% end %>
