<%% tabbar do |tabs| %>
  <%%= tabs.headers t(:tab_content), t(:tab_meta), t(:tab_publish_info) %>

  <%% tabs.content do %>
    <%%= f.error_messages %>
    <p>
    <%%= f.hidden_field :user_id %>
    <%%= f.hidden_field :page_id %>
    </p>
    <p>
    <%%= f.label :title, t(:label_title) %><br />
    <%%= f.text_field :title, :class => 'title' %>
    </p>
    <%%= f.label :preview, t(:label_preview) %><br />
    <%%= f.text_area :preview, :style => 'width:100%;height:70px;overflow:auto;' %>
    <p>
    <%%= f.text_area :content, :class => 'mceEditor', :style => 'width:100%;height:500px;' %>
    </p>
<% for attribute in attributes -%>
    <p>
    <%%= f.label :<%= attribute.name %>, t(:label_<%= attribute.name %>) %><br />
    <%%= f.<%= attribute.field_type %> :<%= attribute.name %> %>
    </p>
<%- end -%>
  <%% end %>

  <%% tabs.content do %>
    <%% f.fields_for @<%= node_name %>.meta do |meta_f| %>
      <%% Meta.tags.each do |meta_tag| %>
	<p>
	<%%= meta_f.label meta_tag %><br />
	<%%= meta_f.text_field meta_tag %>
	</p>
      <%% end %>
    <%% end %>
  <%% end %>

  <%% tabs.content do  %>
    <p>
    <%%= f.label :start_publishing, t(:label_start_publishing) %><br />
    <%%= f.text_field :start_publishing, :class => 'jjane_datepicker' %>
    </p>
    <p>
    <%%= f.label :end_publishing, t(:label_end_publishing) %><br />
    <%%= f.text_field :end_publishing, :class => 'jjane_datepicker' %>
    </p>
  <%% end  %>
<%% end %>
