<% content_tag :li, :id => dom_id(root), :class => dom_class(root.class) do %>

  <% content_tag :div, :style => "padding-left:#{10 * root.level}px;", :class => :list_item, :onmouseover =>"$('show_#{root.id}').show()", :onmouseout => "$('show_#{root.id}').hide()" do %>
    <div style="float:left">
      <%= published_img(root) %>
      <%= link_to root.link, edit_page_path(root) %>
      &nbsp; &nbsp;
      <%= link_to '(show)', root_url+root.url, :style => 'display:none; color:black;', :id => "show_#{root.id}" %>
    </div>

    <div style="float:right; margin-left:20px;">
      <%= link_to_new new_page_child_path(root) %>
      <%= link_to_destroy root %>
    </div>

    <div style="float:right;">
      <% remote_form_for root, :html => { :style => 'margin:0;'} do |f| %>
	<% @menus_columns.each do |column| %>
	  <%= f.check_box column.to_sym, :id => column+'_'+root.id.to_s, :onclick => "this.form.onsubmit();" %>
	<% end %>
      <% end %>
    </div>

    <div style="clear:both"></div>
  <% end %>

  <% if root.have_children? %>
    <% content_tag :ul do %>
      <% root.children.each do |child| %>
	<%= partial 'tree', :root => child %>
      <% end %>
    <% end %>
  <% end %>

<% end %>
