<%= title t(:title_edit_page)+'('+t(:type)+'='+@page.page_type+')' %>

<% form_for @page, :html => { :class => 'jjane' } do |f| %>
  <%= f.error_messages %>

  <p><%= f.hidden_field :parent_id %></p>

  <% tabbar do |tabs| %>
    <% unless @page.page_type=='directory' -%>
      <%= tabs.headers t(:tab_page_settings), t(:tab_content), t(:tab_meta), t(:tab_publish_info) %>
    <% else -%>
      <%= tabs.headers t(:tab_page_settings) %>
    <% end -%>

    <% tabs.content do %>
      <p>
      <%= f.label :name, t(:label_page_name) %><br />
      <%= f.text_field :name, :readonly => 'readonly' %>
      </p>
      <p>
      <%= f.label :menu, t(:label_menu) %><br />
      <%= f.text_field :menu %>
      </p>
      <p>
      <%= f.label :link, t(:label_link) %><br />
      <%= f.text_field :link %>
      </p>
      <p>
      <%= f.label :layout, t(:label_layout) %><br />
      <%= f.select :layout, options_for_select(Page.layouts, @page.layout) %>
      </p>
    <% end %>

    <% unless @page.page_type=='directory' -%>
      <% tabs.content do %>
	<%= partial "pages/#{@page.page_type}/edit", :f => f %>
      <% end %>

      <% tabs.content do %>
	<% f.fields_for :node do |node_f| %>
	  <% node_f.fields_for :meta do |meta_f |%>
	    <% Meta.tags.each do |meta_tag| -%>
	      <p>
	      <%= meta_f.label meta_tag %><br />
	      <%= meta_f.text_field meta_tag.to_sym %>
	      </p>
	    <% end -%>
	  <% end %>
	<% end %>
      <% end %>

      <% tabs.content do %>
	<% f.fields_for :node do |node_f| %>
	  <p>
	  <%= node_f.label :start_publishing, t(:label_start_publishing) %><br />
	  <%= node_f.text_field :start_publishing, :class => 'jjane-calendar-input' %>
	  </p>
	  <p>
	  <%= node_f.label :end_publishing, t(:label_end_publishing) %><br />
	  <%= node_f.text_field :end_publishing, :class => 'jjane-calendar-input' %>
	  </p>
	<% end %>
      <% end %>

    <% end %>
  <% end %>

  <p>
  <%= f.submit t(:button_update) %> |
  <% unless @page.page_type=='directory' -%>
    <%= link_to t(:link_show_page), root_url+@page.url %> |
  <% end -%>
  <%= link_to_cancel pages_path %> |
  <%= link_to_destroy @page, t(:link_destroy) %>
  </p>
<% end %>
