<%= title "Edit page" %>

<% form_for @page, :html => { :class => 'jform' } do |f| %>
  <%= f.error_messages %>

  <p><%= f.hidden_field :parent_id %></p>

  <p>
  <%= f.label :name %>
  <%= f.text_field :name %>
  </p>
  <p>
  <%= f.label :link %>
  <%= f.text_field :link, :disabled => true %>
  </p>
  <p>
  <%= f.label :title %>
  <%= f.text_field :title %>
  </p>

  <%= partial "pages/#{@page._type_}/edit", :f => f %>

  <p>
  <%= f.submit 'Update' %> |
  <%= link_to 'view page', root_url+@page.url %> |
  <%= link_to_cancel pages_path %>
  </p>
<% end %>
