<%= title t(:title_edit_page)+'('+t(:type)+'='+@page.page_type+')' %>

<% form_for @page, :html => { :class => 'jform' } do |f| %>
  <%= f.error_messages %>

  <p><%= f.hidden_field :parent_id %></p>

  <% tabbar do |tabs| %>
    <%= tabs.headers t(:tab_page_settings), t(:tab_content), t(:tab_meta) %>

    <% tabs.content do |tabcontent| %>
      <% tabcontent.draw do %>
	<p>
	<%= f.label :name, t(:label_page_name) %><br />
	<%= f.text_field :name, :disabled => 'disabled' %>
	</p>
	<p>
	<%= f.label :menu, t(:label_menu) %><br />
	<%= f.text_field :menu %>
	</p>
	<p>
	<%= f.label :url, t(:label_link) %><br />
	<%= f.text_field :link %>
	</p>
      <% end %>

      <% tabcontent.draw do %>
	<%= partial "pages/#{@page.page_type}/edit", :f => f %>
      <% end %>

      <% tabcontent.draw do %>
	<% f.fields_for :node do |node_f| %>
	  <% node_f.fields_for :meta do |meta_f |%>
	    <% Meta.tags.each do |meta_tag| %>
	      <p>
	      <%= meta_f.label meta_tag %><br />
	      <%= meta_f.text_field meta_tag.to_sym %>
	      </p>
	    <% end %>
	  <% end %>
	<% end %>
      <% end %>

    <% end %>
  <% end %>

  <p>
  <%= f.submit t(:button_update) %> |
  <%= link_to t(:link_show_page), root_url+@page.url %> |
  <%= link_to_cancel pages_path %>
  </p>
<% end %>
