<%= title t(:title_pages) %>

<%= link_to "sort pages", pages_path(:sorting => true) %>
<table class="jjane" width="100%">
  <tr>
    <th width="40%"><%=t :page_menu %></th>
    <th width="30%"><%=t :page_id %></th>
    <th width="5%"><%=t :page_menu %>:</th>
    <%- @menus.each do |menu| -%>
      <th align="center"><%= menu.name %></th>
    <%- end -%>
    <th width="10%" align="right"><%=t :actions %></th>
  </tr>
  <%- @pages.each do |current| -%>
    <tr>
      <td width="40%">
	<span style="display:inline-block;width:<%= 10*current[:level] %>px;"></span>
	<%= published_img(current[:page]) %>
	<%= link_to current[:page].menu, root_url+current[:page].url %>
      </td>
      <td width="30%"><b><%= current[:page].name %></b></td>
      <td width="5%">&nbsp;</td>
      <%- @menus.each do |menu| -%>
	<td align="center">
	  <% remote_form_for current[:page], :html => { :style => 'margin:0;', :id => nil } do |f| %>
	    <%= f.check_box menu.column.to_sym, :id => menu.column+'_'+current[:page].id.to_s, :onclick => "this.form.onsubmit();" %>
	  <%- end -%>
	</td>
      <%- end -%>
      <td width="10%" align="right">
	<%= link_to_new new_page_child_path(current[:page]) %>
	<%= link_to_edit engine_image('pencil.png'), edit_page_path(current[:page]) %>
	<%= link_to_destroy page_path(current[:page]) %>
      </td>
    </tr>
  <%- end -%>
</table>
<br />
<%= link_to_new new_page_path %>
