<%= title t(:title_new_page) %>

<% form_for @page, :html => { :class => 'jjane' } do |f| %>
  <%= f.error_messages %>

  <p><%= f.hidden_field :parent_id %></p>
  <p><%= f.hidden_field :user_id %></p>

  <p>
  <%= f.label :name, t(:label_id) %><br />
  <%= f.text_field :name %>
  </p>
  <p>
  <%= f.label :link, t(:label_link) %><br />
  <%= "/#{@page.parent.url}/" if @page.child? %>
  <%= f.text_field :link %>
  </p>
  <p>
  <%= f.label :menu, t(:label_menu) %><br />
  <%= f.text_field :menu %>
  </p>
  <p>
  <%= f.label :page_type, t(:label_type) %><br />
  <%= f.select :page_type, grouped_options_for_select(@page_types) %>
  </p>
  <p>
  <%= f.label :layout, t(:label_layout) %><br />
  <%= f.select :layout, options_for_select(Page.layouts,@page.layout) %>
  </p>
  <p>
  <%= f.submit t(:button_create) %> |
  <%= link_to_cancel pages_path %>
  </p>
<% end %>
