<%= title t(:new_page) %>

<% form_for @page, :html => {:class=>'jform'} do |f| %>
  <%= f.error_messages %>

  <p><%= f.hidden_field :parent_id %></p>

  <p>
  <%= f.label :menu %><br />
  <%= f.text_field :menu %>
  </p>
  <p>
  <%= f.label :link %><br />
  <%= f.text_field :link %>
  </p>
  <p>
  <%= f.label :type %><br />
  <%= f.select :page_type, grouped_options_for_select(@page_types) %>
  </p>
  <p>
  <%= f.submit t(:create_button) %> |
  <%= link_to_cancel pages_path %>
  </p>
<% end %>
