<div id="admin_panel" class="jjane">
  <div style="margin-right:100px;">
    <%= pages_link %>
    <%= users_link %>
    <%= snippets_link %>
    <%= filesystem_link %>
  </div>
  
  <div style="text-align:center;">
    <span>
      <%= item_name -%>
    </span>
    <%= crud_actions -%>
  </div>

  <div style="float:right">
    <%= engine_image 'user_me.png' %>
    <span>
      <%= link_to "#{current_user.name}[#{current_user.group.name.singularize}]", edit_user_path(current_user), :title => t(:link_title_edit_profile)  %> |
      <%= link_to t(:link_logout), logout_path %>
    </span>
  </div>

  <div style="clear:both; height:0px;padding:0px; margin:0px;"></div>
</div>
