<%= title t(:title_edit_file) %>

<% form_for @attached_file do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name, t(:name) %><br />
    <%= f.text_field :name %><%= ".#{@attached_file.extension}" if @attached_file.file? %>
  </p>
  <p>
    <%= f.submit t(:button_save) %>
  </p>
<% end %>
