<%= title t(:title_filesystem) %>

<% content_for :head do %>
  <%= javascript 'tiny_mce/tiny_mce_popup' %>
  <script type="text/javascript">
//<![CDATA[
  var FileBrowserDialogue = {
init : function () {
	 // Here goes your code for setting your custom things onLoad.
       },
mySubmit : function (url) {
	     var URL = url;
	     var win = tinyMCEPopup.getWindowArg("window");

	     // insert information now
	     win.document.getElementById(tinyMCEPopup.getWindowArg("input")).value = URL;

	     // are we an image browser
	     if (typeof(win.ImageDialog) != "undefined") {
	       // we are, so update image dimensions...
	       if (win.ImageDialog.getImageData)
		 win.ImageDialog.getImageData();

	       // ... and preview if necessary
	       if (win.ImageDialog.showPreviewImage)
		 win.ImageDialog.showPreviewImage(URL);
	     }
	     // close popup window
	     tinyMCEPopup.close();
	   }
  }

tinyMCEPopup.onInit.add(FileBrowserDialogue.init, FileBrowserDialogue);
//]]>
</script>
<% end %>

<% form_for @new_dir, :html => { :id => 'new_directory'} do |f| %>
  <%= f.error_messages %>
  <p>

  <% content_tag :span, :id => 'files_breadcrumbs' do %>
    /&nbsp;<%= link_to 'root', attached_files_path %>&nbsp;/
    <% (@breadcrumbs || []).each do |dir| %>
      <%= link_to dir.name, attached_file_path(dir) %>&nbsp;/
    <% end %>
  <% end %>

  <%= f.hidden_field :directory_id %>
  <%= f.text_field :name %>
  <%= f.submit t(:button_create_dir) %>
  </p>
<% end %>

<%= log params[:type] %>

<table class="list jjane">
  <tr>
    <th width="85%"><%=t :name %></th>
    <th width="10%"><%=t :size %></th>
    <th width="5%"><%=t :actions %></th>
  </tr>

  <% if @updir -%>
    <tr>
      <td>
	<%= engine_image 'folder.png' %>
	<%= link_to '[..]', (@updir.parent ? attached_file_path(@updir.parent) : attached_files_path) %>
      </td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  <% end -%>

  <% @files.each do |file| -%>
    <tr>
      <td>
	<% if file.directory? -%>
	  <%= engine_image 'folder.png' %>
	  <%= link_to "[#{file.name}]", attached_file_path(file,:type => params[:type]) %>
	<% else -%>
	  <%= engine_image 'file.png' %>
	  <%= link_to "#{file.name}.#{file.extension}", file.atachment.url %>
	  <%= link_to_function 'insert', %Q(FileBrowserDialogue.mySubmit("#{file.atachment.url}");) if params[:type]%>
	<% end -%>
      </td>
      <td>
	<%= file.size %>
      </td>
      <td>
	<%= link_to_edit 'edit', edit_attached_file_path(file) %>
	<%= link_to_destroy file %>
      </td>
    </tr>
  <% end -%>
</table>

<%= render 'upload_form' %>
