<%= title t(:title_filesystem) %>


<% form_for @new_dir, :html => { :id => 'new_directory'} do |f| %>
  <%= f.error_messages %>
  <p>

  <% content_tag :span, :id => 'files_breadcrumbs' do %>
    /&nbsp;<%= link_to 'root', attached_files_path %>&nbsp;/
    <% (@breadcrumbs || []).each do |dir| %>
      <%= link_to dir.name, attached_file_path(dir) %>&nbsp;/
    <% end %>
  <% end %>

  <%= f.hidden_field :directory_id %>
  <%= f.text_field :name %>
  <%= f.submit t(:button_create_dir) %>
  </p>
<% end %>

<table class="list">
  <tr>
    <th width="85%"><%=t :name %></th>
    <th width="10%"><%=t :size %></th>
    <th width="5%"><%=t :actions %></th>
  </tr>

  <% if @updir -%>
    <tr>
      <td>
	<%= engine_image 'folder.png' %>
	<%= link_to '[..]', (@updir.parent ? attached_file_path(@updir.parent) : attached_files_path) %>
      </td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  <% end -%>

  <% @files.each do |file| -%>
    <tr>
      <td>
	<% if file.directory? -%>
	  <%= engine_image 'folder.png' %>
	  <%= link_to "[#{file.name}]", attached_file_path(file) %>
	<% else -%>
	  <%= engine_image 'file.png' %>
	  <%= link_to "#{file.name}.#{file.extension}", file.atachment.url %>
	<% end -%>
      </td>
      <td>
	<%= file.size %>
      </td>
      <td>
	<%= link_to_edit 'edit', edit_attached_file_path(file) %>
	<%= link_to_destroy file %>
      </td>
    </tr>
  <% end -%>
</table>

<%= render 'upload_form' %>
