<%= title t(:title_filesystem) %>

<% content_for :head do %>
  <%= javascript_link_tag 'tiny_mce/tiny_mce_popup' %>
  <%= javascript_link_tag '/jjane/javascripts/file_browser' %>
<% end if params[:type] %>

<%= render 'new_dir_form' %>

<table class="jjane">
  <tr>
    <th width="20%"><%= 'info' %></th>
    <th width="65%"><%=t :name %></th>
    <th width="10%"><%=t :size %></th>
    <th width="5%"><%=t :actions %></th>
  </tr>
  <tr>
    <td rowspan="<%= @files.length+2 %>" id="file_preview" style="overflow:hidden; width:100px;">&nbsp;</td>
  </tr>
  <% if @updir -%>
    <tr>
      <td>
	<%= engine_image 'folder.png' %>
	<%= link_to '[..]', (@updir.parent ? attached_file_path(@updir.parent,:type => params[:type]) : attached_files_path(:type => params[:type])) %>
      </td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  <% end -%>
  <% @files.each do |file| -%>
    <tr>
      <td>
	<% if file.directory? -%>
	  <%= engine_image 'folder.png' %>
	  <%= link_to "[#{file.name}]", attached_file_path(file,:type => params[:type]) %>
	<% else -%>
	  <%= engine_image 'file.png' %>
	  <% content_tag :span,
	    :onmouseover => update_page { |p| p.replace_html('file_preview',image_tag(file.atachment.url(:thumb))) } do -%>
	    <% if params[:type] -%>
	      <%= link_to_function "#{file.name}.#{file.extension}", %Q(FileBrowserDialogue.mySubmit("#{file.atachment.url}");) %>
	    <% else -%>
	      <%= link_to "#{file.name}.#{file.extension}", file.atachment.url %>
	    <% end -%>
	  <% end -%>
	<% end -%>
      </td>
      <td>
	<%= file.size %>
      </td>
      <td>
	<%= link_to_edit 'edit', edit_attached_file_path(file,:type => params[:type]) %>
	<%= link_to_destroy attached_file_path(file,:type => params[:type]) %>
      </td>
    </tr>
  <% end -%>
</table>

<%= render 'upload_form' %>
