<%= title t(:title_new_dir) %>

<% form_for @attached_file, :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :directory_id %>

  <p>
  <%= f.label :name, t(:name) %><br />
  <%= f.text_field :name %>
  </p>
  <% if action_name=='new_file'%>
    <p>
    <%= f.label :file, t(:file) %><br />
    <%= f.file_field :atachment %>
    </p>
  <% end %>
  <p>
  <%= f.submit t(:button_create) %>
  </p>
<% end %>
